*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-color: rgb(230, 230, 230);
    font-family: 'Open Sans', sans-serif;
    .hedear__title{
        margin-left: 800px;
        margin-top:40px;
    }
    .header__ligne{
        background-color:#FCA737;
        border:none;
        width: 80px;
        height: 6px;
        margin-left: 910px; 
        margin-top: 15px; 
    }
    .hedear__soutitle{
        margin-left: 890px;
        margin-top: 25px;
        color: rgb(114, 111, 111);
    }
    
.container{
     background-color: #fff;
     width: 700px;
     height: 350px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin-top: 75px;
     margin-left: 600px;
     box-shadow:0Px 3px 7px 3px #c5c5C5;
       .profile-info{
          margin-top: 60px;
       .profile-info__name{
          margin-left: 17px;

    }
       .profile-info__img{
           border-radius: 50%;
       }
       .profile-info__ligne{
        
        background-color:#FCA737;
         border: none;
         height: 6px;
          width: 60px;
          margin-left: 33px;
          margin-top:7px ;

    }
    
       .profile-info__job{
         margin-left: 27px;
         margin-top: 17px;
         color: rgb(114, 111, 111);
    }
       }
       .container__description{
     
         margin-top: 55px;
         font-size: large;
         color: rgb(114, 111, 111);
         text-align: center;
         width: 60%;
        
        }
       }

       @media (max-width: 600px) {
           .header {
              text-align: center;
}

         .hedear__title{
             margin:0;
         }
         .header__ligne{
            margin-left: 160px;
         }
         .hedear__soutitle{
             margin: 0;
         }
         .container{
             margin:0;
             display: block;
             height: max-content;
             padding-bottom: 25px;
             max-width: 100%;
         }
         .profile-info {
            margin-left: 130px!important;
        }
        .container__description {
            width: 97%!important;
        }
     }  
 
}
